* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

.quiz {
	width: 100vw;
	height: 100vh;
	background-image: url("sets/pluses.png"), url("sets/pluses.png"),
		linear-gradient(147.58deg, #7976ff 59.68%, #ffffff 133.44%);
	background-position: left top, right bottom;
	background-repeat: no-repeat, no-repeat;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	display: none;
	background-color: rgba(255, 255, 255, 0.45);
	border: 5px solid white;
	border-radius: 20px;
	padding: 50px 85px 30px 85px;
	width: 1500px;
}

.card-header {
	position: relative;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 25px;
	padding: 93px;
}

.card-undertitle {
	position: absolute;
	color: #0a0049;
	right: 25px;
	top: 25px;
	font-size: 25px;
}

.card-title {
	font-size: 50px;
	text-align: center;
}

.card-clickbait {
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card-text {
	margin: 10px 0;
	font-size: 25px;
}

.text-center {
	text-align: center;
}

.divider {
	width: 100%;
	margin: 32px 0;
	height: 3px;
	background-color: white;
	border-radius: 2px;
}

.progress {
	position: relative;
	width: 100%;
	margin: 0 10px;
}

.progress-bar {
	width: 100%;
	height: 40px;
}

.progress-title {
	color: white;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 21px;
	text-align: center;
}

.button {
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 59px;
	padding: 13px 34px;
	background-color: rgba(255, 255, 255, 0.54);
	border: 3px solid #ffffff;
	box-sizing: border-box;
	border-radius: 20px;
}

.button-bg {
	padding: 37px 183px;
}

.button:hover:not(:disabled) {
	color: #7583ff;
	background: rgba(255, 255, 255, 0.54);
	border: 3px solid #9a98ff;
	box-sizing: border-box;
}

button:active:hover:not(:disabled) {
	border-color: #596aff;
	color: #596aff;
	padding-top: 16px;
	padding-bottom: 10px;
}

.button-bg:active:hover:not(:disabled) {
	border-color: #596aff;
	color: #596aff;
	padding-top: 40px;
	padding-bottom: 34px;
}

button:disabled {
	border-color: #bbbbbb;
}

.variant-inline {
	border-radius: 25px;
	background-color: white;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.variant-inline > .variant-header {
	background-color: #7b98e2;
	border-radius: 25px 0 0 25px;
	padding: 5px 5px 5px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.variant-inline > .variant-header > input[type="radio"] {
	width: 40px;
	height: 40px;
}

.variant-inline > .variant-header > input[type="checkbox"] {
	width: 27px;
	height: 27px;
}

.variant-inline > .variant-body {
	padding: 5px 5px 5px 20px;
	font-size: 32px;
	vertical-align: middle;
	line-height: 40px;
}

.wrap-layout {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.wrap-layout > .variant-inline {
	width: calc(50% - 10px);
	margin: 5px 5px 10px 5px;
}

.variant-square {
	background: rgba(255, 255, 255, 0.58);
	border: 3px solid rgba(255, 255, 255, 0.92);
	box-sizing: border-box;
	border-radius: 20px;
	cursor: pointer;
	min-width: 200px;
}

.variant-square--active {
	background: rgb(186 178 255);
	border: 3px solid rgb(0 0 0 / 92%);
}

.variant-square > .variant-header {
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.variant-square > .variant-body {
	text-align: center;
	font-size: 30px;
}

.center-layout {
	padding-top: 20px;
}

.variant-form {
	border-radius: 25px;
	background-color: white;
	display: flex;
	flex-direction: row;
	width: 50%;
	margin: 0 auto;
}

.variant-form:not(:last-child) {
	margin-bottom: 20px;
}

.variant-form > .variant-header {
	background-color: #7b98e2;
	border-radius: 25px 0 0 25px;
	padding: 5px 5px 5px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-size: 30px;
	text-align: right;
}

.variant-form > .variant-body {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
}

.variant-form > .variant-body > input[type="text"] {
	border: none;
	font-size: 30px;
	width: 100%;
}

.variant-form > .variant-body > input:focus {
	outline: none;
}

._active {
	display: block;
}